.navbar-default .navbar-nav > li > a {
  font: inherit;
  color: inherit; }

.custom-navbar {
  margin-bottom: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .custom-navbar .for-nav-bg {
    padding: 0; }
  .custom-navbar .custom-navbar-brand {
    color: #ffffff;
    text-shadow: none;
    border: none;
    font: 400 18px/27px "PT Sans";
    height: auto; }
    .custom-navbar .custom-navbar-brand:hover {
      color: silver; }
    .custom-navbar .custom-navbar-brand .bold {
      font-weight: 700; }
  .custom-navbar .custom-left-menu {
    text-shadow: none; }
    .custom-navbar .custom-left-menu li {
      color: #b2b2b2;
      font: 400 14px/27px "PT Sans"; }
      .custom-navbar .custom-left-menu li a {
        text-shadow: none;
        font: inherit; }
  .custom-navbar .custom-right-menu .active {
    border-bottom: 2px solid #1a54e7;
    background: none; }
  .custom-navbar .custom-right-menu li {
    text-transform: capitalize;
    color: #1a54e7;
    font: 400 14px/27px "PT Sans"; }
    .custom-navbar .custom-right-menu li a {
      text-shadow: none;
      font: inherit; }
  .custom-navbar .custom-right-menu .custom-navbar-dropdown {
    font: 400 36px/27px "PT Sans";
    padding-top: 10px; }

.custom-navbar .custom-right-menu > .active > a {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  color: #1a54e7; }

.custom-navbar-header {
  position: relative; }
  .custom-navbar-header:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1a54e7;
    width: 1000px;
    min-height: 200px;
    z-index: -1; }

.custom-nav-search {
  width: auto;
  margin: 0;
  padding: 0; }
  .custom-nav-search .custom-search-btn {
    min-height: 66px;
    background: #f6f6f6 none;
    color: #b2b2b2;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
    outline: none; }
  .custom-nav-search .custom-form-control {
    min-height: 66px;
    -webkit-border-radius: 0;
            border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    text-align: center; }
    .custom-nav-search .custom-form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-align: center;
      padding: 0 30px; }
    .custom-nav-search .custom-form-control::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
      padding: 0 15px; }
    .custom-nav-search .custom-form-control:-ms-input-placeholder {
      /* IE 10+ */
      text-align: center;
      padding: 0 15px; }
    .custom-nav-search .custom-form-control:-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
      padding: 0 15px; }

.slider-section .wrapper-for-absolut {
  position: relative; }

.slider-section .flex-caption {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  padding: 5%; }

.slider-section .flexslider {
  margin-bottom: 0;
  border: none; }
  .slider-section .flexslider img {
    height: 50vh; }
  .slider-section .flexslider .author-photo {
    width: 20%;
    height: 20%;
    margin: 10% auto 0; }
  .slider-section .flexslider .slider-article-header {
    color: #fff;
    font: 400 18px/20px "PT Serif";
    text-align: center; }
  .slider-section .flexslider .tag-mark {
    background-color: #1a54e7;
    color: #ffffff;
    font: 700 12px/14px "PT Sans";
    text-decoration: none;
    padding: 2%;
    margin-top: 20%;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    display: inline-block; }
    .slider-section .flexslider .tag-mark a {
      color: inherit; }
    .slider-section .flexslider .tag-mark:hover {
      background-color: #ffffff;
      color: #1a54e7; }
  .slider-section .flexslider .info-holder {
    margin-top: 20%;
    padding: 2%;
    float: right; }
  .slider-section .flexslider .publish-date {
    color: #8e8e8e;
    font: 400 12px/14px "PT Sans"; }
    .slider-section .flexslider .publish-date:after {
      content: " | ";
      color: #8e8e8e; }
  .slider-section .flexslider .publish-author {
    color: #1a54e7;
    text-decoration: underline;
    font: 400 12px/14px "PT Sans";
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
    .slider-section .flexslider .publish-author:hover {
      color: #d90445; }

.slider-section .flex-direction-nav .flex-next {
  right: 0; }

.slider-section .flex-direction-nav .flex-prev {
  left: 0; }

.slider-section .flex-direction-nav li > a {
  background-color: #ffffff;
  width: 30px;
  height: 50px;
  top: 40%; }

.flex-control-nav, .flex-control-paging {
  display: none; }

.red {
  background-color: #d90445; }

.black {
  background-color: black; }

.latest-articles {
  background-color: #f6f6f6;
  padding: 2% 0; }
  .latest-articles .tag-wrapper {
    position: inherit; }
    .latest-articles .tag-wrapper .tag {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
      font: 700 18px/36px "PT Sans";
      padding: 1% 5%;
      text-transform: capitalize;
      -webkit-transition: all 0.7s;
      transition: all 0.7s; }
      .latest-articles .tag-wrapper .tag a {
        color: inherit;
        text-decoration: none; }
  .latest-articles .latest-article-header {
    color: #000;
    font: 400 24px/36px "PT Serif"; }
  .latest-articles .publish-info .publish-date {
    color: #8e8e8e;
    font: 400 12px/36px "PT Sans";
    padding: 2% 0 2% 2%; }
    .latest-articles .publish-info .publish-date:after {
      content: " ";
      border-right: 1px solid #8e8e8e; }
    .latest-articles .publish-info .publish-date a {
      color: inherit; }
  .latest-articles .publish-info .publish-author {
    padding: 2%;
    word-spacing: -0.05rem;
    font: 400 12px/36px "PT Sans";
    color: #1a54e7;
    text-decoration: underline;
    -webkit-transition: all 0.7s;
    transition: all 0.7s; }
    .latest-articles .publish-info .publish-author:hover {
      color: #10328b; }

@media screen and (min-width: 767px) {
  .custom-navbar .custom-navbar-brand {
    font: 400 24px/36px "PT Sans"; }
  .custom-navbar .custom-left-menu li {
    font: 400 18px/36px "PT Sans"; }
  .custom-navbar .custom-left-menu .custom-nav-search:hover .custom-form-control {
    width: 300px;
    border: 1px solid #b2b2b2;
    border-top: none; }
  .custom-navbar .custom-left-menu .custom-nav-search:hover .custom-search-btn {
    border: 1px solid #b2b2b2;
    border-top: none; }
  .custom-navbar .custom-left-menu .custom-nav-search .custom-form-control:focus {
    width: 300px;
    border: 1px solid #b2b2b2;
    border-top: none; }
  .custom-navbar .custom-right-menu li {
    font: 400 18px/36px "PT Sans"; }
  .custom-nav-search {
    width: auto;
    margin: 0;
    padding: 0; }
    .custom-nav-search .custom-search-btn {
      position: relative;
      border: none;
      -webkit-border-radius: 0;
              border-radius: 0; }
  .custom-form-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    z-index: 99; }
  .slider-section .flexslider img {
    height: 50vh; }
  .slider-section .flexslider .author-photo {
    width: auto;
    height: auto;
    margin: 10% auto 0; }
  .slider-section .flexslider .slider-article-header {
    font: 400 36px/48px "PT Serif"; }
  .slider-section .flexslider .tag-mark {
    font: 700 16px/18px "PT Sans";
    padding: 2%;
    bottom: -10%; }
  .slider-section .flexslider .info-holder {
    padding: 2%;
    bottom: -10%;
    float: right; }
  .slider-section .flexslider .publish-date {
    font: 400 16px/18px "PT Sans"; }
  .slider-section .flexslider .publish-author {
    font: 400 16px/18px "PT Sans"; }
  .slider-section .flex-direction-nav li > a {
    width: 40px;
    height: 50px;
    top: 60%; } }

.tag-info-wrapper .mark-wrapper .mark-tag {
  font: 700 18px/38px "PT Sans"; }

.tag-info-wrapper .publish-info .publish-date {
  font: 400 14px/38px "PT Sans"; }

.tag-info-wrapper .publish-info .publish-author {
  font: 400 14px/38px "PT Sans"; }

@media screen and (min-width: 991px) {
  .custom-navbar .custom-navbar-brand {
    font: 400 22px/36px "PT Sans"; }
  .custom-navbar .custom-left-menu li {
    font: 400 16px/36px "PT Sans"; }
  .custom-navbar .custom-left-menu .with-form:hover .custom-form-control {
    border: 1px solid #b2b2b2;
    border-top: none; }
  .custom-navbar .custom-left-menu .with-form:hover .custom-search-btn {
    border: 1px solid #b2b2b2;
    border-top: none; }
  .custom-navbar .custom-right-menu li {
    font: 400 16px/36px "PT Sans"; }
  .custom-form-control {
    width: 0;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    left: 0;
    z-index: 99; }
  .slider-section .flexslider img {
    height: 100vh; }
  .slider-section .flexslider .author-photo {
    width: auto;
    height: auto;
    margin: 10% auto 0; }
  .slider-section .flexslider .slider-article-header {
    font: 400 36px/48px "PT Serif"; }
  .slider-section .flexslider .tag-mark {
    font: 700 16px/18px "PT Sans";
    padding: 2%;
    bottom: -50%; }
  .slider-section .flexslider .info-holder {
    padding: 2%;
    bottom: -50%; }
  .slider-section .flexslider .publish-date {
    font: 400 16px/18px "PT Sans"; }
  .slider-section .flexslider .publish-author {
    font: 400 16px/18px "PT Sans"; } }

@media screen and (min-width: 1199px) {
  .slider-section .flexslider .author-photo {
    margin: 10% auto 5%; }
  .slider-section .flexslider .slider-article-header {
    font: 400 48px/60px "PT Serif"; }
  .slider-section .flexslider .tag-mark {
    font: 700 16px/18px "PT Sans";
    padding: 1%;
    bottom: -25%; }
  .slider-section .flexslider .info-holder {
    padding: 2%;
    bottom: -25%; } }
