p.text-center.footer-paragraph Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
p.text-center.footer-paragraph Try awsome tool for desgners
    a.some-link  symu.co