.container
    .row
        article.col-md-6
            div.tag-wrapper
                img.img-responsive.article-img(src="img/latest-articles/photo1.png" alt="photo")
                p.tag.red
                    a(href="#" target="blank") trips
            h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
            p.publish-info
                span.publish-date 11 septemvber 2016
                a.publish-author(href="#") John Doe
        article.col-md-6
            div.tag-wrapper
                img.img-responsive.article-img(src="img/latest-articles/photo2.png" alt="photo")
                p.tag.black
                    a(href="#" target="blank") tech
            h2.latest-article-header Maecenas quis lobortis nunc. Nullam sit amet augue vel odio congue vulputate a ut nisi.
            p.publish-info
                span.publish-date 14 septemvber 2016
                a.publish-author(href="#") John Doe
