div.row
    ul.article-list
        li.col-sm-12.main-article-holder
            .wrapper-for-absolut
                img.img-responsive(src="img/main-gallery/article1.jpg" alt="art1")
                .tag-wrapper
                    h1.slider-article-header Proin congue elit fringilla
                        span sodales tellus interdum fermentum nulla. Aliquam vitae arcu condimentum, consectetur diam sed, ultrices urna.
                    p.tag-mark.red
                        a(href="#") Trips
                    p.info-holder
                        span.publish-date 11 septemvber 2016
                        a.publish-author(href="#")  John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article2.jpg" alt="art1")
                    p.tag.green
                        a(href="#" target="blank") Nature
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article3.jpg" alt="art1")
                    p.tag.blue
                        a(href="#" target="blank") people
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article4.jpg" alt="art1")
                    p.tag.black
                        a(href="#" target="blank") tech
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article5.jpg" alt="art1")
                    p.tag.red
                        a(href="#" target="blank") trips
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article6.jpg" alt="art1")
                    p.tag.red
                        a(href="#" target="blank") trips
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe
        li.col-sm-6.col-md-4
            article.latest-article-one
                div.tag-wrapper
                    img.img-responsive.article-img(src="img/main-gallery/article7.jpg" alt="art1")
                    p.tag.violet
                        a(href="#" target="blank") Fashion
                h2.latest-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                p.publish-info
                    span.publish-date 11 septemvber 2016
                    a.publish-author(href="#") John Doe