nav.navbar.navbar-default.custom-navbar
    div.container-fluid.for-nav-bg
        div.container
            div.navbar-header.custom-navbar-header
                button.navbar-toggle.collapsed.collapsed-menu-btn(type="button" data-toggle="collapse" data-target="#blog-final-navbar" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.custom-navbar-brand(href="#") Blog
                    span.bold  template
            div.collapse.navbar-collapse#blog-final-navbar
                ul.nav.navbar-nav.row.custom-left-menu
                    li.active.left-li.with-form
                        form.navbar-form.navbar-left.custom-nav-search
                            fieldset.form-group
                                input.custom-form-control(type="text" placeholder="Search")
                                button.btn.btn-default.custom-search-btn(type="submit")
                                    i.fa.fa-search(aria-hidden="true")
                    li.left-li
                        a(href="#") About
                    li.left-li
                        a(href="#") Cooperation
                    li.left-li
                        a(href="#") Contact
                ul.nav.navbar-nav.navbar-right.custom-right-menu
                    li
                        a(href="#") nature
                    li.active
                        a(href="#") people
                    li
                        a(href="#") trips
                    li
                        a(href="#") animals
                    li
                        a(href="#") fashion
                    li
                        a(href="#") tech
                    li.dropdown
                        a.dropdown-toggle.custom-navbar-dropdown(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") ...
                        ul.dropdown-menu
                            li
                                a(href="#") some link
                            li
                                a(href="#") another link
                            li
                                a(href="#") and one more link
                            li
                                a(href="#") again link