h1.newsletter-header.text-center newsletter
p.news-letter-paragraph.text-center Donec elementum dui semper, pretium dui quis, pretium nisl.
    // Begin MailChimp Signup Form
div#mc_embed_signup.mailchimp-holder
    form.validate#mc-embedded-subscribe-form(action="//fr.us14.list-manage.com/subscribe/post?u=8ccecbf89191392b251a2986f&amp;id=0255e60f27" method="post"  name="mc-embedded-subscribe-form"  target="_blank" novalidate)
        div#mc_embed_signup_scroll.letter-relative
            input#mce-EMAIL.email(type="email" value="" name="EMAIL"  placeholder="" required)
            div(style="position: absolute; left: -5000px;" aria-hidden="true")
               input(type="text" name="b_8ccecbf89191392b251a2986f_0255e60f27" tabindex="-1" value="")
            div.clear
                input.button-subscribe#imc-embedded-subscribe(type="submit" value="Sign up" name="subscribe")