div.flexslider
    ul.slides
        li
            .wrapper-for-absolut
                img.img-slide(src="img/slider/slide1.png" alt="slide")
                .flex-caption.container
                    img.img-responsive.img-circle.author-photo(src="img/slider/photo-on-slider.jpg" alt="author")
                    h1.slider-article-header Maecenas quis lobortis nunc. Nullam sit vel odio congue vulputate a ut nisi.
                    a.tag-mark(href="#") People
                    p.info-holder
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#")  John Doe

        li
            .wrapper-for-absolut
                img.img-slide(src="img/slider/slide2.png" alt="slide")
                .flex-caption.container
                    img.img-responsive.img-circle.author-photo(src="img/slider/photo-on-slider.jpg" alt="author")
                    h1.slider-article-header Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.
                    a.tag-mark(href="#") People
                    p.info-holder
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#")  John Doe
        li
            .wrapper-for-absolut
                img.img-slide(src="img/slider/slide3.png" alt="slide")
                .flex-caption.container
                    img.img-responsive.img-circle.author-photo(src="img/slider/photo-on-slider.jpg" alt="author")
                    h1.slider-article-header Maecenas quis lobortis nunc. Nullam sit amet augue vel odio congue vulputate a ut nisi.
                    a.tag-mark(href="#") People
                    p.info-holder
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#")  John Doe

        li
            .wrapper-for-absolut
                img.img-slide(src="img/slider/slide4.png" alt="slide")
                .flex-caption.container
                    img.img-responsive.img-circle.author-photo(src="img/slider/photo-on-slider.jpg" alt="author")
                    h1.slider-article-header Proin congue elit fringilla sodales tellus interdum fermentum.
                    a.tag-mark(href="#") People
                    p.info-holder
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#")  John Doe
        li
            .wrapper-for-absolut
                img.img-slide(src="img/slider/slide5.png" alt="slide")
                .flex-caption.container
                    img.img-responsive.img-circle.author-photo(src="img/slider/photo-on-slider.jpg" alt="author")
                    h1.slider-article-header Donec elementum dui semper, pretium dui quis, pretium nisl.
                    a.tag-mark(href="#") People
                    p.info-holder
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#")  John Doe

