div.container-fluid.flexslider.custom-slider
    ul.slides.slides-list
        li
            img.img-responsive.custom-slide(src="img/slider/photo-on-slider.png" alt="photo")
            div.flex-caption.container
                h1 Maecenas quis lobortis nunc. Nullam sit vel odio congue vulputate a ut nisi.
                div.row.tag-info-wrapper
                    p.mark-wrapper
                        span.mark-tag
                            a(href="#") people
                    p.publish-info
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#") John Doe
        li
            img.img-responsive.custom-slide(src="img/slider/photo-on-slider.png" alt="photo")
            div.flex-caption.container
                h1 Maecenas quis lobortis nunc. Nullam sit vel odio congue vulputate a ut nisi.
                div.row.tag-info-wrapper
                    p.mark-wrapper
                        span.mark-tag
                            a(href="#") people
                    p.publish-info
                        span.publish-date 14 septemvber 2016
                        a(href="#").publish-author John Doe

        li
            img.img-responsive.custom-slide(src="img/slider/photo-on-slider.png" alt="photo")
            div.flex-caption.container
                h1 Maecenas quis lobortis nunc. Nullam sit vel odio congue vulputate a ut nisi.
                div.row.tag-info-wrapper
                    p.mark-wrapper
                        span.mark-tag
                            a(href="#") people
                    p.publish-info
                        span.publish-date 14 septemvber 2016
                        a.publish-author(href="#") John Doe
